body{
    background-color:white;
     background-size: cover;
     height: 100vh;
}
#meal-details{
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    
}
.mealSubDivStyle{
    padding: 5px;
    margin: 10px;
    text-align: center;
    width: 250px;
}
.mealSubDivStyle img{
    width: 240px;
    border-radius: 10px 10px 0px 0px;
}
#headerTagStyle{
    background-color :whitesmoke;
    border-radius: 0px 0px 10px 10px ;
}
